#fullscreen {
  height: 100vh;
  display: flex;
  background-image:url('../public/assets/video-bg.jpg');
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  /* background-color: blue; */
  
}
#formDiv {
  margin: auto;
  /* width: 30vw; */
  padding: 2vw 1vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
  color: yellow;
}

.video-js {
  height: 100vh;
  /* background-color: brown; */
}