#fullscreen {
  height: 100vh;
  display: flex;
  background-image: url("../public/assets/video-bg.jpg");
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: blue;
}
#formDiv {
  position: relative;
  margin: auto;
  /* width: 30vw; */
  /* padding: 2vw 1vw; */
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  /* font-size: 2rem; */
  color: white;
}
/* overlay text animated */
.overlayTitle1 {

  animation:  fadeIn ease 5s;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.spanCss1 {
  /* font-size: 5.5cqw; */
}


.smallboxesCssMobile {
  position: absolute;
  top: 15%;
  margin: 15%;
  width: 60%;
}
.gift1CoinEventcss {
  width: 400px;
  margin-right: 2%;
}

.portraitCoinImage img {
  margin-left: 15%;
  width: 55%;
}

.gift1GroceryEventcss {
  /* position: absolute; */
  margin-top: -5%;
}
.portraitGroceryImage {
  margin-right: 5%;
}
/* For Mobile View */
@media only screen and (max-width: 480px) {
  #formDiv img {
    /* width: 30vw; */
  }
  .smallboxesCssMobile {
    position: absolute;
    top: 15%;
    margin: 15%;
    width: 50%;
  }
  .giftVoucherCss {
    margin: auto;
    text-align: center;
    display: flex;
    width: 80%;
  }
  .portraitImage {
    display: none;
  }
  .gift1FormeventcssMobile {
    margin-left: 1%;
    width: 100%;
  }
  .giftGroceryCss{
    width: 100%;
  }

  .groceryText {
    font-size: 16px;
  }
  #btnSubmit {
    width: 50%;
  }
}

.video-js {
  height: 100vh;
  /* background-color: brown; */
}
.hide-controls .vjs-control-bar {
  display: none;
}

.hide-controls .vjs-big-play-button {
  display: none !important;
}

.custom-skip-button-div {
  display: flex;
  align-self: flex-end;
  justify-content: end;
  width: 20%;
  margin-bottom: -32px;
}

.custom-skip-buttonMobile {

padding-top: 4px;

}

/* device animation all css */
.spanAnimation{
  transform: scale(0.94);
  animation: scale 2s forwards cubic-bezier(0.5, 1, 0.89, 1), fadeIn ease 5s;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* animattion in video fade in/out */
.imgToVideoFadeInAni {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.minigiftBoxCss {
  /* animation: fadeInAnimation ease 5s; */
  opacity: 1;
  transition: opacity 500ms ease-out;
  animation: fadeInAnimationContent ease 2s;
}
.tryContentCss {
  opacity: 1;
  transition: opacity 500ms ease-out;
  animation: fadeInAnimationContent ease 2s,
    pulseContent 1s infinite ease-in-out alternate;
}

@keyframes fadeInAnimationContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulseContent {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}