body{
  font-family: "CaviarDreams";
}


.vjs-hidden {
  display: none !important;
}
.hide-controls .vjs-control-bar {
  display: none;
}
.hide-controls .vjs-big-play-button {
  display: none !important;
}

/* animattion in video fade in/out */
.displayContentCss {
  /* animation: fadeInAnimation ease 8s; */
  animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1), fadeIn ease 5s;
}

.videoFadeInAni {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (orientation: landscape) {
 
  .icon-class {
    width: 70px;
  }
  .icon-btn {
    width: 120px;
  }
  .img {
    width: 150px;
    margin-top: 70px;
  }
  .mar {
    margin: 0px 40px 0px 40px;
  }
}

@media only screen and (min-device-width: 540px) and (max-device-width: 720px) and (orientation: landscape) {
  
  .icon-class {
    width: 90px;
  }
  .icon-btn {
    width: 80px;
  }
  .img {
    width: 150px;
    margin-top: 70px;
  }
  .mar {
    margin: 0px 40px 0px 40px;
  }
}