/* App.css */
#overlay {
  z-index: 2147483647;
  font-family: poppins;
  /* background-image: url('../public/assets/Template-Video.jpg'); */
}
/* overlay text animated */
.overlayTitle1 {
  width: 100%;
  text-align: center;
  transform: scale(0.94);
  animation: scale 2s forwards cubic-bezier(0.5, 1, 0.89, 1),fadeIn ease 5s;
  top: 40%;
  position: absolute; 
  z-index: 1;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* .overlayTitle1 span {
  opacity: 0;
  filter: blur(4px);
  font-family: poppins;
} */
.spanCss1 {
  font-size: 4.5cqw;
}
.spanCss2 {
  font-size: 2.5cqw;
}
/* span:nth-child(1) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(5) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(6) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(7) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
} */
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
/******************/

.custom-skip-button {
  position: absolute;
  bottom: 2%;
  font-family: poppins;
  right: 5px;
  background-color: #e78b08;
  border: 2px solid #172936;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(202, 58, 58, 0.1);
  font-size: 20px;
}

.custom-skip-button:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.custom-skip-button:hover {
  padding-right: 5px;
}

.custom-skip-button:hover span:after {
  opacity: 1;
  right: 0;
}


/* document page css */
.gift-form {
  /* width: 30%; */
  height: auto;
  top: 0;
  left: 0;
  text-align: center;
}

.common {
  height: auto;
  /* opacity: 0.95; */
  z-index: 2147483647;
  position: absolute;
}

video {
  object-fit: cover;
}

.container {
  padding-left: 5px;
  height: 500px;
  width: 60%;
  top: 5%;
}

.container1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* background-image: url("../public/assets/Gift-bg.jpg"); */
}
/* .container1 img {
  width: 100%;
 
} */
.container1 span {
  /* font-size: 3cqw; */
  position: absolute;
  width: 100%;
  height: auto;
  top: 10%;
  text-align: center;
}

.giftBoxCss {
  animation: pulse1 1s infinite ease-in-out alternate, fadeInAnimation ease 5s;
}
@keyframes pulse1 {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
/* .giftBoxOpen{
 
    opacity: 1;
    transition: opacity 500ms ease-out;
    animation: fadeInAnimationContent ease 2s, pulseContent 1s infinite ease-in-out alternate;
} */

.giftopenCss {
  /* animation: fadeInAnimation ease 5s; */
  opacity: 1;
  transition: opacity 500ms ease-out;
  animation: fadeInAnimationContent ease 2s;
}

.gift1Css {
  animation: fadeInAnimation ease 5s;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 5%;
}

.gift3Css {
  opacity: 1;
  transition: opacity 500ms ease-out;
  animation: fadeInAnimationContent ease 2s,pulseContent 1s infinite ease-in-out alternate;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 20%;
}

.gift4Css {
  opacity: 1;
  transition: opacity 500ms ease-out;
  animation: fadeInAnimationContent ease 2s,pulseContent 1s infinite ease-in-out alternate;
  position: absolute;
  width: 25%;
  left: 37%;
  top: 8%;
}

/* contact form css */
.contact-form {
  animation: fadeInAnimation ease 5s;
  position: absolute;
  width: 55%;
  top: 0;
}



.video-js.container {
  width: 100%;
}

.vjs-hidden {
  display: none !important;
}
.hide-controls .vjs-control-bar {
  display: none;
}

.hide-controls .vjs-big-play-button {
  display: none !important;
}

.brand-image {
  margin: 0 15px !important;
}

/* full sceen css */
.canvasCss {
  position: absolute;
  top: 0;
  width: 80%;
  height: auto;
  background-color: transparent;
}

/* animattion in video fade in/out */
.videoFadeInAni {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.video-js.vjs-control-bar {
  height: auto;
}


/* Changes */
@media only screen and (max-width: 768px) {
  /* Adjust width for smaller screens */
  .container {
    width: 100%;
  }

  /* Adjust other styles as needed for smaller screens */
  .overlayTitle1 {
    top: 20%;
  }
  .canvasCss {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
  }
  .gift1Css {
    animation: fadeInAnimation ease 5s;
    position: absolute;
    width: 100%;
    left: 25%;
    top: 15%;
  }
  .gift3Css {
    animation: fadeInAnimation ease 5s;
    position: absolute;
    width: 70%;
    left: 15%;
    top: 25%;
  }
  .gift4Css {
    animation: fadeInAnimation ease 5s;
    position: absolute;
    width: 55%;
    left: 20%;
    top: 15%;
  }
  .custom-skip-button {
    position: absolute;
    bottom: 15%;
    font-family: poppins;
    right: 5px;
    background-color: #e78b08;
    border: 2px solid #172936;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(202, 58, 58, 0.1);
    font-size: 20px;

  }
}

@media only screen and (max-width: 480px) {
  /* Further adjustments for even smaller screens */
  .container {
    width: 100%;
    height: 500px;
  }
  .canvasCss {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
  }
  .overlayTitle1 {
    top: 10%;
  }
  .gift1Css {
    animation: fadeInAnimation ease 5s;
    position: absolute;
    top: 15%;
    left: 12%;
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .gift3Css {
    animation: fadeInAnimation ease 5s;
    position: absolute;
    width: 70%;
    left: 15%;
    top: 25%;
  }
  .gift4Css {
    animation: fadeInAnimation ease 5s;
    position: absolute;
    width: 55%;
    left: 20%;
    top: 15%;
  }
  .custom-skip-button {
    position: absolute;
    bottom: 15%;
    font-family: poppins;
    right: 5px;
    background-color: #e78b08;
    border: 2px solid #172936;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(202, 58, 58, 0.1);
    font-size: 20px;
  }
  
}

.gift1FormCss {
  animation: scale 2s forwards cubic-bezier(0.5, 1, 0.89, 1), fadeIn ease 5s;
}


/* Add this CSS to your stylesheet */
.giftBoxContentCss {
  opacity: 1;
  transition: opacity 500ms ease-out;
  animation: fadeInAnimationContent ease 2s, pulseContent 1s infinite ease-in-out alternate;
}

@keyframes fadeInAnimationContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulseContent {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

